@model CoffeeShop.WebUI.ViewModels.Store.FinalOrderViewModel

<h3>Bravo</h3>

@Html.DisplayFor(m => m.FullDescription)
@Html.DisplayFor(m => m.Price)

@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart")

@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { @class = "btn btn-default", role = "button" })
